.main {
  text-align: center;
}

.cases {
  display: flex;
  text-align: center;
  place-content: center;
}

.topCases, .bottomCases {
  border:2px solid #ccc;
  width:300px;
  height: 100px;
  overflow-y: scroll;
}
