<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/jpg" href="/images/favicon.jpg">
		<link rel="stylesheet" href="style.css">
		<title>Ben Gottschalk</title>
		<script src="https://apis.google.com/js/api.js"></script>
	</head>
	<body>

		{{> nav}}

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/7.10.0/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
			 https://firebase.google.com/docs/web/setup#available-libraries -->

		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>

	</body>
</html>
