<nav>
  <ul class="header">
    <li><a href="/">Home</a></li>
    <li><a href="/comps">Comps</a></li>
    <li><a href="/pblTrainer">PBL Trainer</a></li>
    <li><a href="https://github.com/BenGotts?tab=repositories" target="_blank">Projects</a></li>
    <li><a href="https://www.worldcubeassociation.org/persons/2016GOTT01" target="_blank">Results</a></li>
  </ul>
</nav>
