<nav>
  <ul class="header">
    <li><a href="/">Home</a></li>
    <li><a href="/comps">Comps</a></li>
    <li><a href="https://github.com/BenGotts?tab=repositories" target="_blank">Projects</a></li>
  </ul>
</nav>
